*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}


/* MENU AND CLOSE ICON */
.hamburger{
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.close-btn{
    display: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 30px;
}


/* HEADER STYLING*/
.header{
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-text {
    color: white;
    
}

.logo-text span{
    font-size: 0.5rem;
    font-weight: 200;
    color: rgba(255, 217, 0, 0.753);
}

.nav-links {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 2.5rem;
}

.nav-links a{
    color: white;
    font-weight: 500;
    white-space: nowrap;
}

.nav-links a:hover{
    color: rgba(255, 217, 0, 0.753);
}

.visit-btn{
    padding: 0.7rem 1.4rem;
    font-size: 13px;
    background-color: rgba(255, 217, 0, 0.753);
    border: none;
    border-radius: 20px;
    white-space: nowrap;
}

.visit-btn:hover{
    background-color: white;
    color: black;
}

/* HERO STYLING */
.hero{
    background-image: url('image/Screenshot_22-5-2026_231259_www.istockphoto.com.jpeg');
    height: 25rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-container{
     margin-left: 1.4rem;
     max-width: 600px;
     z-index: 2;
}

.hero h2{
    padding-top: 3rem;
    color: white;
    font-size: 3rem;
    line-height: 1.1;
}

.hero h2 span{
    color: rgba(255, 217, 0, 0.753);
}

.hero h3{
    color: white;
    font-size: 2rem;
    padding-top: 1.5rem;
}

.hero p{
    color: white;
    padding-top: 1rem;
    line-height: 1.5;
}

.btn-box{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn1{
    padding: 0.8rem;
    background-color: rgba(255, 217, 0, 0.753);
    border: none;
    border-radius: 20px;
}

.btn2{
    padding: 0.8rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
}

.btn1:hover{
    background-color: white;
}

.btn2:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.quality{
    background-color: black;
    padding: 3rem 0;
}

.quality-container{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    padding: 0 1.4rem;
    gap: 2rem;
}

.quality-card{
    text-align: center;
    padding: 1rem;
}

.quality-card i{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: rgba(255, 217, 0, 0.753);
}

.quality-card h2{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

/*SERVICE STYLING*/
/* .services{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
 */
.service-container{
    padding-left: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.4rem;
}

.service-container img{
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

.info-box{
    flex: 1;
    min-width: 300px;
}

.info-box h2{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info-box h1{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.info-box p{
    margin-bottom: 2rem;
}

.btn-3{
    background-color: rgba(255, 217, 0, 0.753);
    padding: 1rem 1rem;
    border-color: rgba(255, 217, 0, 0.753);
    font-weight: 800;
    border-radius: 20px;
}

.btn-3:hover{
    background-color: white;
}

.our-services{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.our-services h3{
    text-align: center;
    color: rgba(255, 217, 0, 0.753);
}

.our-services h2{
    text-align: center;
    color: black;
}

.services-grid{
    padding:1rem 1.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 1.5rem;
}

.service-card{
    background: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.service-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* PROJECTS STYLING*/

.project-container{
    background-color: black;
    padding: 2rem 1.4rem;
    text-align: center;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.project-container h2{
    color: rgba(255, 217, 0, 0.753);
    padding-top: 1rem;
    font-size: 1rem;
}

.project-container h3{
    color: white;
}

.btn-p{
    padding: 1rem;
    color: black;
    background-color: white;
    border-color: rgba(255, 217, 0, 0.753);
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    font-weight: 800;
}

.btn-p:hover{
    background-color: rgba(255, 217, 0, 0.753);
}

.great{
    background-color: rgba(255, 217, 0, 0.753);
    text-align: center;
}

.great h2{
    padding-top: 1rem;
}

.great h3{
    padding-right: 13rem;
    font-weight: 100;
}

.btn-work{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.btn-w{
    padding: 1rem;
    background-color: black;
    color: rgba(255, 217, 0, 0.753);
    border-color: black;
    font-weight: 800;
    border-radius: 20px;
}

.btn-w:hover{
    background: white;
    border-color: black;
}


/*contact styling*/

.contact{
    color: white;
    
}

.contact-container{
    background: black;
    padding-top: 2rem;
    padding-left: 1.4rem;
    
}

.contact-container h2{
    color: rgba(255, 217, 0, 0.753);
    font-size: 1rem;
    font-weight: 800;
}

.contact-container h3{
    font-size: 1.3rem;
    padding-top: 1.3rem;
    
}

.section-content{
    display: flex;
    padding: 2rem 1.4rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact-info-list{
    flex: 1;
    min-width: 280px;
    
}

.contact-info{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contact-info i{
    color: rgba(255, 217, 0, 0.753);
    font-size: 0.7rem;
}

.contact-info p{
    font-size: 1rem;
}

.contact-form{
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 13rem;
}

.form-input{
    width: 100%;
    padding: 1rem;
}

textarea.form-input{
    height: 180px;
    resize: none;
}

.visit-btn{
    width: fit-content;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: .3s;
    font-weight: 800;
    margin-bottom: 1rem;
}

.visit-btn:hover{
    background: white;
}

/*FOOTER STYLING*/
.footer{
    padding: 20px 0;
    color: white;
    background: rgba(0, 0, 0, 0.925);
    border-color: white;
    padding-left: 1.4rem;
}

.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer :where(.footer-text, .social-link, copyright-text){
    color: white;
    transition: 0.2s ease;
}

.footer .social-link-list{
    display: flex;
    gap: 25px;
}

.footer .social-link-list:hover{
    color: rgba(255, 217, 0, 0.753);
    
}

.footerlogo-text{
    padding-top: 1rem;
}

.footerlogo-text span{
    
    font-size: 0.5rem;
}


@media(max-width:768px){
        .header{
        padding: 1rem 1rem;
        
    }

    .hamburger{
        display: block;
        /* font-size: 1.8rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer; */
    }

    .nav-links{
        position: fixed;
        top: 75px;
        left: -320px;
        width: 300px;
        height: auto;
        max-height: 85vh;
        background: #0f172a;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 60px 20px 40px;
        gap: 2.2rem;
        transition: all 0.4s ease;
        z-index: 1000;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 5px 0 25px rgba(0, 0, 0, 0.5);
    }

    .nav-links.active{
        left: 0;
    }

    .nav-links .close-btn{
        display: block;
        top: 20px;
        right: 20px;
        font-size: 2.3rem;
    }

    .nav-links li a{
        font-size: 1.45rem;
    }
}
   

@media (min-width: 768px) and (max-width: 1024px) {
    .hamburger{
        display: block;
    }

    .nav-links{
        position: fixed;
        top: 80px;
        left: -340px;
        width: 340px;
        height: auto;
        max-height: 80vh;
        background: #0f172a;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 60px 30px 40px;
        gap: 2.5rem;
        z-index: 1000;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 5px 0 25px rgba(0, 0, 0, 0.4);
    }

     .nav-links.active{
        left: 0;
    }

    .nav-links .close-btn{
        display: block;
        top: 20px;
        right: 25px;
    }
}

/* @media (max-width: 767px){
    .hero{
        height: 22rem;
        background-size: cover;
        background-position: center;
    }

    .hero h3{
        font-size: 1.6rem;
    }
    
} */